@* la Template File *@
@import socialLandlordDatabase._
@import scala.collection.mutable._

@(param: String)
	
@header {
<div class="container-fluid">

	<div class="row">
	    <div class="col-lg-12">
	        Enter your home postcode
	        <input type="text" id="dataentry" />
	        <button type="button" class="btn btn-primary" onclick="searchforLA_clicked()">Search <span class="glyphicon glyphicon-search"></span></button>	
	    </div>
	</div>
	
	<div class="row">
	    <div class="col-lg-12">
	        <div class="panel-group" id="landlordlist">
	            <div class="panel panel-primary">
	                <div class="panel-heading">
	                    <h3 class="panel-title">
	                        Your local authority
	                    </h3>
	                </div>
	                <div class="panel-body">
						<div id="localauthority"></div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

</div>
}